// Main Content
.main-content {
    overflow: hidden;
    min-height: 100vh;
    padding: {
        top: 0;
        left: 282px;
        right: 25px;
    };
    &.active, &.hide-sidebar {
        padding-left: 85px;
    }

    .main-content-body {
        padding-top: 105px;
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 0;
    }
}

// Blank Page
.blank-page {
    app-sidebar, app-footer, app-header {
        display: none !important;
    }
    .main-content {
        padding: 0 !important;

        .main-content-body {
            padding-top: 0 !important;
        }
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    // Main Content
    .main-content {
        padding: {
            top: 0;
            left: 15px;
            right: 15px;
        };
        &.active, &.hide-sidebar {
            padding-left: 15px;
        }

        .main-content-body {
            padding-top: 150px;
        }
    }
    
}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    // Main Content
    .main-content {
        padding: {
            top: 0;
            left: 25px;
            right: 25px;
        };
        &.active, &.hide-sidebar {
            padding-left: 25px;
        }

        .main-content-body {
            padding-top: 110px;
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {

    // Main Content
    .main-content {
        padding: {
            top: 0;
            left: 25px;
            right: 25px;
        };
        &.active, &.hide-sidebar {
            padding-left: 25px;
        }

        .main-content-body {
            padding-top: 110px;
        }
    }

}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}