<p-toast *ngIf="browser" [position]="toastPosition"></p-toast>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="over" class="sidenav bg-white naari-card filter-sidenav">
    <!-- Filters -->
    <!-- <div class="p-3 naari-card">
      <h5>Filters</h5> -->

      <!-- Status -->
      <!-- <mat-form-field appearance="fill" class="w-100 mb-3">
        <mat-label>Status</mat-label>
        <mat-icon matPrefix>check_circle</mat-icon>
        <mat-select  #selectedStatusT [value]="selectedStatus" (selectionChange)="selectionStatusChangeHandler($event)">
          <mat-option value="-1">All</mat-option>
          <mat-option value="true">Approved</mat-option>
          <mat-option value="false">Not Approved</mat-option>
        </mat-select>
      </mat-form-field> -->

      <!-- Category -->
      <!-- <mat-form-field appearance="fill" class="w-100 mb-3">
        <mat-label>Category</mat-label>
        <mat-icon matPrefix>category</mat-icon>
        <mat-select [value]="selectedCategory" (selectionChange)="selectionCategoryChangeHandler($event)">
          <mat-option value="All">All Categories</mat-option>
          <mat-option *ngFor="let cat of categoriesLocal" [value]="cat.code">{{ cat.title }}</mat-option>
        </mat-select>
      </mat-form-field> -->

      <!-- Title -->
      <!-- <mat-form-field appearance="fill" class="w-100 mb-3">
        <mat-label>Title</mat-label>
        <mat-icon matPrefix>edit</mat-icon>
        <input #Title maxlength="128" placeholder="Title" matInput (keyup)="inputChangeHandler($event)">
        <mat-icon matSuffix>filter_alt</mat-icon>
      </mat-form-field>
    </div> -->

  <mat-card class="naari-card add-product-card mb-25  border-none d-block filters-card">
      <mat-card-header>
          <mat-card-title>
              <h5 class="mt-0 mb-0">
                  Filters
              </h5>
          </mat-card-title>
      </mat-card-header>
      <mat-card-content>
          <form>
              <div class="row">
                  <div class="col-lg-12">
                     <!-- Status -->
                    <mat-form-field appearance="fill" class="w-100 mb-3">
                      <mat-label>Status</mat-label>
                      <mat-icon class="filter-field-icon" matPrefix>check_circle</mat-icon>
                      <mat-select  #selectedStatusT [value]="selectedStatus" (selectionChange)="selectionStatusChangeHandler($event)">
                        <mat-option value="-1">All</mat-option>
                        <mat-option value="true">Approved</mat-option>
                        <mat-option value="false">Not Approved</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-lg-12">
                    <!-- Category -->
                    <mat-form-field appearance="fill" class="w-100 mb-3">
                      <mat-label>Category</mat-label>
                      <mat-icon class="filter-field-icon" matPrefix>category</mat-icon>
                      <mat-select [value]="selectedCategory" (selectionChange)="selectionCategoryChangeHandler($event)">
                        <mat-option value="All">All Categories</mat-option>
                        <mat-option *ngFor="let cat of categoriesLocal" [value]="cat.code">{{ cat.title }}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-lg-12">
                      <!-- Title -->
                      <mat-form-field appearance="fill" class="w-100 mb-3">
                        <mat-label>Title</mat-label>
                        <mat-icon class="filter-field-icon" matPrefix>edit</mat-icon>
                        <input #Title maxlength="128" placeholder="Title" matInput (keyup)="inputChangeHandler($event)">
                        <mat-icon class="filter-field-icon" matSuffix>filter_alt</mat-icon>
                      </mat-form-field>
                  </div>
              </div>
              <div class="filters-action-row d-flex justify-content-end">
                <button mat-button class="apply-link-button" type="button" (click)="applyFilters()">
                  <mat-icon fontIcon="check_circle"></mat-icon>
                  <span>Apply Filters</span>
                </button>
              </div>
          </form>
      </mat-card-content>
    </mat-card>


  </mat-sidenav>
  <mat-sidenav #rightSidenav mode="over" class="sidenav bg-white naari-card amazon-deals-load-sidenav" position="end">
    <mat-card class="naari-card add-product-card mb-25 bg-white border-none d-block mat-card-div">
      <mat-card-header>
          <mat-card-title>
              <h5 class="mt-0 mb-0">
                  Loan Amazon Deals
              </h5>
          </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form #amazonsDealFormGroup [formGroup]="amazonDealFormGroup" autocomplete="off">
  <div mat-dialog-content>
    <div class="bg-white mb-2 p-3 pt-0">
      <mat-progress-bar *ngIf="isActionInProgress" color="primary" mode="indeterminate"></mat-progress-bar>

      <div class="row g-3">
        <div class="col-12">
          <mat-form-field class="w-100">
            <mat-label>Search Key Words</mat-label>
            <input formControlName="keywords" #searchkeyWords maxlength="512" placeholder="Search Key Words" matInput>
            <mat-hint style="position: relative;top:-13px;" align="end">{{searchkeyWords.value.length}} / 512</mat-hint>
            <mat-icon style="visibility: hidden;" matSuffix>edit</mat-icon>
          </mat-form-field>
        </div>

        <div class="col-md-12 col-xs-12 mt-3">
          <mat-form-field class="w-100">
            <mat-label>Search In Category</mat-label>
            <input type="text" placeholder="Pick category" matInput formControlName="searchIndex" [matAutocomplete]="searchCategory">
            <mat-autocomplete autoActiveFirstOption #searchCategory="matAutocomplete">
              <mat-option *ngFor="let sindex of searchIndex" [value]="sindex.value">{{sindex.viewValue}}</mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>

        <div class="col-md-6 col-xs-12">
          <mat-form-field class="w-100">
            <mat-label>Minimum Discount</mat-label>
            <input formControlName="minSavingPercent" type="number" min="0" placeholder="Minimum Discount" matInput>
          </mat-form-field>
        </div>

        <div class="col-md-6 col-xs-12">
          <mat-form-field class="w-100">
            <mat-label>Max Price</mat-label>
            <input formControlName="maxPrice" type="number" min="1" placeholder="Max Price" matInput>
          </mat-form-field>
        </div>

        <div class="col-md-6 col-xs-12">
          <mat-form-field class="w-100">
            <mat-label>Partner Tag</mat-label>
            <mat-select formControlName="partnerTag">
              <mat-option *ngFor="let ptag of partnerTags" [value]="ptag.value">{{ptag.viewValue}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-md-6 col-xs-12">
          <mat-form-field class="w-100">
            <mat-label>Market Place</mat-label>
            <mat-select formControlName="marketplace">
              <mat-option *ngFor="let mplace of marketPlaces" [value]="mplace.value">{{mplace.viewValue}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-md-6 col-xs-12">
          <mat-form-field class="w-100">
            <mat-label>Deal Tags To Assign</mat-label>
            <mat-select formControlName="type" multiple>
              <mat-option *ngFor="let type of dealTypesLocal" [value]="type.code">{{type.title}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-md-6 col-xs-12">
          <mat-form-field class="w-100">
            <mat-label>Add In Category</mat-label>
            <input type="text" placeholder="Pick category" matInput formControlName="category" [matAutocomplete]="autoCategory">
            <mat-autocomplete autoActiveFirstOption #autoCategory="matAutocomplete">
              <mat-option *ngFor="let cat of filteredCategoriesLocal" [value]="cat.code">{{cat.title}}</mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>

        <div class="col-md-6 col-xs-12">
          <mat-form-field class="w-100">
            <mat-label>Country</mat-label>
            <mat-select formControlName="country">
              <mat-option *ngFor="let country of countries" [value]="country.value">{{country.value}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-md-6 col-xs-12">
          <mat-form-field class="w-100">
            <mat-label>Number Of Days Valid</mat-label>
            <input formControlName="validDays" type="number" placeholder="Number Of Days Valid" matInput>
          </mat-form-field>
        </div>

        <div class="col-md-6 col-xs-12">
          <mat-form-field class="w-100">
            <mat-label>Start Date</mat-label>
            <input matInput [matDatepicker]="startDatePicker" formControlName="startDate">
            <mat-hint style="position: relative;left:10px;top:-10px;">MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #startDatePicker></mat-datepicker>
          </mat-form-field>
        </div>

        <div class="col-md-6 col-xs-12">
          <mat-form-field class="w-100">
            <mat-label>Num Of Pages</mat-label>
            <mat-select formControlName="numPages">
              <mat-option *ngFor="let n of [1,2,3,4,5,6,7,8,9,10]" [value]="n">{{n}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="row justify-content-end mt-3" style="position: absolute; bottom: 10px; width: 93%; text-align: right;">
        <div class="col-12 justify-content-end text-right">
          <button mat-raised-button color="warn" type="button" class="me-2" mat-dialog-close (click)="rightSidenav.toggle()">Close</button>
          <button mat-raised-button color="primary" (click)="submitForm($event)" [disabled]="amazonDealFormGroup.invalid">{{buttonTitle}}</button>
        </div>
      </div>
    </div>
  </div>
        </form>
      </mat-card-content>
    </mat-card>


  </mat-sidenav>

  <mat-sidenav-content>
    <mat-card class="products-filter-card mb-2 border-none">
      <mat-card-header class="p-2">
        <div class="d-flex justify-content-between align-items-center w-100">
         <div class="d-flex align-items-center">
          <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon>filter_list</mat-icon>
          </button>
          <div class="ms-2">
            <mat-card-title class="mb-0">
              <h2 class="mb-0">Posted Deals</h2>
            </mat-card-title>
            <mat-card-subtitle class="mb-0">
               <div class="selected-filters d-lg-flex align-items-center">
                    <ul class="p-0 mb-0 mt-0">
                        <li class="d-inline-block position-relative fw-medium text-primary">
                           {{ statusLabel }}
                            <button type="button" class="p-0 bg-transparent border-none cursor-pointer">
                                <i *ngIf="+selectedStatus !== -1" class="ri-close-fill" (click)="removeStausFilter()"></i>
                            </button>
                        </li>
                        <li class="d-inline-block position-relative fw-medium text-primary">
                            {{selectedCat}}
                            <button type="button" class="p-0 bg-transparent border-none cursor-pointer">
                                <i *ngIf="selectedCategory !== 'All'" class="ri-close-fill" (click)="removeCategoryFilter()"></i>
                            </button>
                        </li>
                    </ul>
                    <button mat-button type="button">
                        Clear All
                    </button>
                </div>
            </mat-card-subtitle>
          </div>
        </div>
          <div>
             <button mat-icon-button class="list-action-icon-btn" [disabled]="isActionInProgress" (click)="postaDeal($event)">
                <mat-icon>add</mat-icon>
            </button>
            <button mat-icon-button (click)="refreshData()" class="list-action-icon-btn" [disabled]="isActionInProgress">
              <mat-icon>refresh</mat-icon>
            </button>
            <button mat-icon-button [matMenuTriggerFor]="actionsMenu" [disabled]="isActionInProgress" class="list-action-icon-btn">
              <mat-icon>more_vert</mat-icon>
            </button>
          </div>
        </div>

        <mat-menu #actionsMenu="matMenu" class="menu-right-align">
          <button mat-menu-item (click)="deleteExpiredDealsByCountry('usa')">
            <div class="menu-item-content" >
              <mat-icon>delete_forever</mat-icon>
              <span class="menu-text">Delete All Expired Deals - US</span>
            </div>
          </button>
          <button mat-menu-item (click)="deleteExpiredDealsByCountry('india')">
            <div class="menu-item-content" >
              <mat-icon>delete_forever</mat-icon>
              <span class="menu-text">Delete All Expired Deals - IN</span>
            </div>
          </button>
          <button mat-menu-item (click)="deleteSelectedDeals($event)">
            <div class="menu-item-content" >
              <mat-icon>delete</mat-icon>
              <span class="menu-text">Delete Selected Deals</span>
            </div>
          </button>
          <button mat-menu-item (click)="rightSidenav.toggle()">
            <div class="menu-item-content" >
              <mat-icon>cloud_download</mat-icon>
              <span class="menu-text">Load Amazon Deals</span>
            </div>
          </button>
        </mat-menu>
      </mat-card-header>
        <mat-progress-bar *ngIf="isActionInProgress" color="primary" mode="indeterminate"></mat-progress-bar>
    </mat-card>

    <div class="example-container mat-elevation-z8">
      <div [ngClass]="{
            'ml--25 mr--25': isMobile,
            'ml--100 mr--100': isDesktop,
            'ml--50 mr--50': isTablet
          }">
        <div class="row products-wrapper">
          <div *ngFor="let deal of currentPageDeals" class="col-12 col-sm-6 col-md-2 col-lg-{{ viewCol }}" 
              style="padding-left: 8px;padding-right: 8px;">
            <mat-card class="deal-card" [class.deal-card-selected]="deal.selected" (click)="navigateToDeal(deal)" tabindex="0" role="button">
              <mat-progress-bar
                *ngIf="isDealActionInProgress(deal.id)"
                mode="indeterminate"
                color="accent"
                class="deal-action-progress">
              </mat-progress-bar>
              <div class="checkbox-wrapper">
                <mat-checkbox [ngModel]="deal.selected" color="primary" (ngModelChange)="setDealSelected($event, deal)" (click)="$event.stopPropagation()">
                </mat-checkbox>
              </div>

              <div *ngIf="showStartDate(deal.startDate)" class="deal-start-date">
                <div class="start-date-label">
                  Deal Starts From: <span class="start-date">{{ deal.startDate }}</span>
                </div>
              </div>

              <a [routerLink]="['/deal', deal.id]" class="image-wrapper">
                <img [src]="deal.imageUrl" alt="deal image">

                <div class="discount-overlay" *ngIf="getDiscountPercent(deal) as discount">
                  <span class="discount-overlay__label">{{ discount }}% OFF</span>
                </div>
              </a>

              <div class="deal-badge-stack" *ngIf="deal.highlight">
                <span class="highlight-badge"
                      [ngStyle]="{ backgroundColor: deal.highlightColor }">
                  <span [ngStyle]="{ color: deal.highlightColor === '#fbf5d6' ? '#555' : '#fff' }">
                    {{ deal.highlight }}
                  </span>
                </span>
              </div>

              <span class="merchant-name">{{ deal.merchant }}</span>

              <a [routerLink]="['/deal', deal.id]" class="deal-title">
                {{ deal.title }}
              </a>

              <div class="deal-prices">
                <mat-icon class="hotjar-icon">whatshot</mat-icon>
                <div class="price-texts">
                  <p class="new-price">
                    <span *ngIf="deal.country === 'usa'">$</span>
                    <span *ngIf="deal.country !== 'usa'">₹</span>
                    {{ deal.currentPrice | number : '1.2-2' }}
                  </p>
                  <p class="old-price" *ngIf="deal.originalPrice">
                    <span *ngIf="deal.country === 'usa'">$</span>
                    <span *ngIf="deal.country !== 'usa'">₹</span>
                    {{ deal.originalPrice | number : '1.2-2' }}
                  </p>
                </div>
              </div>

              <div class="divider mt-2"></div>

              

              <div class="deal-actions d-flex justify-content-between align-items-center">
                <span class="approval-status">
                  <div>
                    <div>
                       <small class="deal-status-text-active" *ngIf="!isInactive(deal)">Active</small>
                       <small class="deal-status-text-not-active" *ngIf="isInactive(deal)">Not Active</small>
                    </div>
                    <div>
                        {{ deal.approved ? 'Approved' : 'Not Approved' }}
                    </div>
                  </div>
                </span>
                <button mat-icon-button [matMenuTriggerFor]="mainMenu" (click)="menuClickHandler($event, deal)">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #mainMenu="matMenu">
                  <button mat-menu-item [disabled]="!deal?.dealUrl" (click)="checkDeal(deal)">Check Deal URL</button>
                  <button mat-menu-item (click)="editDeal(deal)">Edit Deal</button>
                  <button mat-menu-item (click)="deleteDeal(deal)">Delete Deal</button>
                  <button mat-menu-item (click)="expireDeal(deal)">Expire Deal</button>
                  <button mat-menu-item (click)="deActivateDeal(deal)">De Activate Deal</button>
                  <button mat-menu-item (click)="activateDeal(deal)">Activate Deal</button>
                  <button mat-menu-item (click)="approveDeal(deal)">Approve Deal</button>
                </mat-menu>
              </div>
            </mat-card>
          </div>
        </div>

        <div class="deals-pagination-wrapper" *ngIf="totalDeals > pageSize">
          <div class="pagination-summary">
            Showing {{ currentRangeStart }} - {{ currentRangeEnd }} of {{ totalDeals }} deals
          </div>
          <mat-paginator
            [length]="totalDeals"
            [pageIndex]="pageIndex"
            [pageSize]="pageSize"
            [pageSizeOptions]="[pageSize]"
            [hidePageSize]="true"
            (page)="onPageChange($event)">
          </mat-paginator>
        </div>

        <div class="col-12 text-center" *ngIf="dealsLoaded && !filteredDeals.length && !isActionInProgress">
          <img src="assets/images/empty-search.jpg" class="img-fluid mb-4">
          <h3>Sorry! Couldn't find the Deals you were looking For!!!</h3>
          <p>Please check other options.</p>
        </div>
      </div>
      <div class="content-bottom-divider"></div>
      <app-work-ifence-footer></app-work-ifence-footer>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
