<div
    class="become-instructor-partner-area"
    [class.dark-become-instructor-partner-area]="themeService.isDark()"
>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="become-instructor-partner-content bg-color">
                    <h2>Follow Us for Exclusive Offers and Discounts!</h2>
                    <p>Unlock exclusive savings and discover unbeatable deals! Stay connected with us for curated offers and discounts on your favorite products and services.</p>
                    <a routerLink="/register" class="default-btn"><i class='bx bx-plus-circle icon-arrow before'></i><span class="label">Register</span><i class="bx bx-plus-circle icon-arrow after"></i></a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="become-instructor-partner-image bg-image1">
                    <!-- <img   src="assets/images/home/follow-us.jpg" width="200" height="500" fill alt="image" style="max-height:300px;
                    margin: auto; width:auto;height:auto;
                    display: block;"> -->
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="become-instructor-partner-image bg-image2">
                    <!-- <img src="assets/images/home/partner.jpg" width="200" height="500" fill alt="image" style="max-height:300px;
                    margin: auto; width:auto;height:auto;
                    display: block;"> -->
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="become-instructor-partner-content">
                    <h2>Amplify Your Deals and Reach a Wider Audience!</h2>
                    <p>Partner with us to showcase your deals to a broader audience. Amplify your reach and increase visibility for your products and services!</p>
                    <a routerLink="/contact-us" class="default-btn"><i class='bx bx-plus-circle icon-arrow before'></i><span class="label">Contact Us</span><i class="bx bx-plus-circle icon-arrow after"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>