<div class="pl--20 pr--20 pt--15 filter-div">
  <div fxLayout fxLayoutWrap fxLayout="row wrap" fxLayoutAlign="start center"  >
    <div  fxFlex="calc(5% - 10px)" fxFlex.xs="calc(90% - 10px)" fxFlex.sm="calc(20% - 10px)"
            fxFlex.md="calc(10% - 10px)" fxFlex.lg="calc(5% - 10px)" fxFlex.xl="calc(5% - 10px)" 
            fxLayoutAlign="start center" >
            <mat-form-field style="width: 70px;" >
              <mat-label>Country</mat-label>
              <mat-select [value]="selectedCountry" (selectionChange)="selectionChangeHandler($event)" >
                  <mat-option  *ngFor="let country of countries" 
                      [value]="country.value">{{country.value}}
                  </mat-option>
              </mat-select>
          </mat-form-field>
          <mat-form-field style="width: 170px;" class=" ml--10">
            <mat-label>Status</mat-label>
            <mat-select [value]="selectedStatus" (selectionChange)="selectionStatusChangeHandler($event)" >
                <mat-option  value="1">Approved </mat-option>
                <mat-option  value="0">Not Approved </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field style="width: 170px;" class=" ml--10">
            <mat-label>Category</mat-label>
            <mat-select [value]="selectedCategory" (selectionChange)="selectionCategoryChangeHandler($event)" >
                <mat-option *ngFor="let cat of (categories$ | async)"  [value]="cat.code">{{cat.title}}</mat-option>
            </mat-select>
        </mat-form-field>
          <mat-form-field class="streach-h-100 ml--10"  style="max-width: 400px ;" >
            <mat-label>Title</mat-label>
            <input  #Title maxlength="128"  placeholder="Title" matInput (keyup)="inputChangeHandler($event)" >
            <mat-hint align="end">{{Title.value.length}} / 128</mat-hint>
          </mat-form-field>
          <span fxFlex></span>
          <button mat-icon-button (click)="refreshData($event)" >
            <mat-icon>refresh</mat-icon>
        </button>
    </div>
  </div>
</div> 
 <div class="example-container mat-elevation-z8">
  <mat-progress-bar *ngIf="(isActionInProgress$ | async)" color="primary" mode="indeterminate"></mat-progress-bar>
  <mat-table #table [dataSource]="dealsDataSource" >
      <ng-container matColumnDef="action" sticky>
        <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
        <mat-cell *matCellDef="let deal">
          <!-- Action Menu Items -->
          <button mat-icon-button [matMenuTriggerFor]="mainMenu" (click)="menuClickHandler($event,deal)" >
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #mainMenu="matMenu">
            <button mat-menu-item [disabled]="!deal?.dealUrl" (click)="checkDeal(deal)">
              Check Deal URL
            </button>
            <button mat-menu-item (click)="editDeal(deal)">
              Edit Deal
            </button>
            <button mat-menu-item (click)="deleteDeal(deal)">
              Delete Deal
            </button>
            <button mat-menu-item (click)="expireDeal(deal)">
              Expire Deal
            </button>
            <button mat-menu-item (click)="deActivateDeal(deal)">
              De Activate Deal
            </button>
            <button mat-menu-item (click)="activateDeal(deal)">
              Activate Deal
            </button>
          </mat-menu>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="title" sticky>
        <mat-header-cell *matHeaderCellDef> Title </mat-header-cell>
        <mat-cell *matCellDef="let deals"> {{deals.title}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="country" sticky>
        <mat-header-cell *matHeaderCellDef> Title </mat-header-cell>
        <mat-cell *matCellDef="let deals"> {{deals.country}} </mat-cell>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="startDate">
        <mat-header-cell *matHeaderCellDef> StartDate </mat-header-cell>
        <mat-cell *matCellDef="let deals"> {{deals.startDate}} </mat-cell>
      </ng-container>
  
      <!-- Weight Column -->
      <ng-container matColumnDef="endDate">
        <mat-header-cell *matHeaderCellDef> EndDate </mat-header-cell>
        <mat-cell *matCellDef="let deals"> {{deals.endDate}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="currentPrice">
        <mat-header-cell *matHeaderCellDef> Price Now </mat-header-cell>
        <mat-cell *matCellDef="let deals"> {{deals.currentPrice | currency}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="discount">
        <mat-header-cell *matHeaderCellDef> Discount </mat-header-cell>
        <mat-cell *matCellDef="let deals"> {{deals.discountType=='%'?deals.discount + '% off':deals.discountType + deals.discount + ' off' }} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="merchant">
        <mat-header-cell *matHeaderCellDef> Merchant </mat-header-cell>
        <mat-cell *matCellDef="let deals"> {{deals.merchant}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="tags">
        <mat-header-cell *matHeaderCellDef>Tags </mat-header-cell>
        <mat-cell *matCellDef="let deals"> {{deals.tags}} </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></mat-header-row>
      <mat-row   [class.make-selected]="row.selected === true" (click)="selectRow($event, row)"
          
          *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  
  </div>
  <mat-paginator #paginator
  [pageSize]="200"
  [pageSizeOptions]="[50, 100, 200]" 
  class="mat-paginator-sticky">
</mat-paginator>