<div fxLayout fxLayoutWrap fxLayout="row wrap" style="width: 100%;height: 100%;"  
        fxLayoutAlign="start start" fxLayoutGap="5px">
    <div fxFlex="calc(100% - 10px)">
        <div fxLayout fxLayoutWrap fxLayout="row wrap" style="width: 100%;"  fxLayoutAlign="start center" fxLayoutGap="5px" >
            <div  fxFlex="calc(100% - 10px)" >
                <h1 mat-dialog-title>{{title}}</h1>
                <span fxFlex></span>
                <button mat-raised-button color="warn" type="button" class="mr--20"
                    mat-dialog-close>
                    Close
                </button>
            </div>
        </div>
        <div fxLayout fxLayoutWrap fxLayout="row wrap" style="width: 100%;"  fxLayoutAlign="start center" fxLayoutGap="5px" >
            <div  fxFlex="calc(100% - 10px)" >
                <form #dealForm  [formGroup]="merchantFormGroup" autocomplete="off">
                    <div mat-dialog-content> 
                    <div style="background-color: white;margin-bottom: 5px;padding: 15px;padding-top: 0px;">
                        <mat-progress-bar *ngIf="(actionInProgress$ | async)" color="primary" mode="indeterminate"></mat-progress-bar>

                            <div fxLayout fxLayoutWrap fxLayout="row wrap" style="width: 100%;"  fxLayoutAlign="start center" fxLayoutGap="5px" >
                                <div  fxFlex="calc(50% - 10px)" fxFlex.xs="calc(100% - 10px)" fxFlex.sm="calc(100% - 10px)"
                                        fxFlex.md="calc(50% - 10px)" fxFlex.lg="calc(50% - 10px)" fxFlex.xl="calc(50% - 10px)" 
                                        fxLayoutAlign="start center">
                                        <mat-form-field class="streach-h-100"  >
                                        <mat-label>Title</mat-label>
                                        <input formControlName="title" #Title maxlength="128"  placeholder="Title" matInput >
                                        <mat-hint align="end">{{Title.value.length}} / 128</mat-hint>
                                        </mat-form-field>
                                </div>
                                <div  fxFlex="calc(50% - 10px)" fxFlex.xs="calc(100% - 10px)" fxFlex.sm="calc(100% - 10px)"
                                        fxFlex.md="calc(50% - 10px)" fxFlex.lg="calc(50% - 10px)" fxFlex.xl="calc(50% - 10px)" 
                                        fxLayoutAlign="start center">
                                        <mat-form-field class="streach-h-100"  >
                                            <mat-label>Sub Title</mat-label>
                                            <input formControlName="subTitle" #SubTitle maxlength="128"  placeholder="Sub Title" matInput >
                                            <mat-hint align="end">{{SubTitle.value.length}} / 128</mat-hint>
                                        </mat-form-field>
                                </div>
                            </div>
                            <div fxLayout fxLayoutWrap fxLayout="row wrap" style="width: 100%;"  fxLayoutAlign="start center" fxLayoutGap="5px" >
                                <div  fxFlex="calc(100% - 10px)" fxFlex.xs="calc(100% - 10px)" fxFlex.sm="calc(100% - 10px)"
                                        fxFlex.md="calc(100% - 10px)" fxFlex.lg="calc(50% - 10px)" fxFlex.xl="calc(50% - 10px)" 
                                        fxLayoutAlign="start center">
                                        <mat-form-field class="streach-h-100"  >
                                            <mat-label>Address</mat-label>
                                            <input formControlName="address" #Address maxlength="256"  placeholder="Address" matInput >
                                            <mat-hint align="end">{{Address.value.length}} / 256</mat-hint>
                                        </mat-form-field>
                                </div>
                            </div>
                            <!-- <div fxLayout fxLayoutWrap fxLayout="row wrap"  fxLayoutAlign="start center" fxLayoutGap="5px" >
                                <div  fxFlex="calc(100% - 10px)" fxFlex.xs="calc(100% - 10px)" fxFlex.sm="calc(100% - 10px)"
                                    fxFlex.md="calc(100% - 10px)" fxFlex.lg="calc(50% - 10px)" fxFlex.xl="calc(50% - 10px)" 
                                    fxLayoutAlign="start center">
                                    <mat-form-field class="streach-h-100" >
                                    <mat-label>Image Url</mat-label>
                                    <input formControlName="imageUrl"  placeholder="Image Url" matInput >
                                    <mat-error *ngIf="merchantFormGroup.controls.imageUrl.errors?.pattern">Please enter a valid image URL</mat-error>
                                    </mat-form-field>
                                </div>
                            </div> -->
                            <div fxLayout fxLayoutWrap fxLayout="row wrap"  fxLayoutAlign="start center" fxLayoutGap="5px" >
                                <div  fxFlex="calc(25% - 10px)" fxFlex.xs="calc(100% - 10px)" fxFlex.sm="calc(50% - 10px)"
                                    fxFlex.md="calc(50% - 10px)" fxFlex.lg="calc(25% - 10px)" fxFlex.xl="calc(25% - 10px)" fxLayoutAlign="start center">
                                        <mat-form-field class="streach-h-100" >
                                            <mat-label>Type</mat-label>
                                            <mat-select  formControlName="type" >
                                                <mat-option  *ngFor="let type of types" [value]="type.value">{{type.viewValue}}</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                </div>
                                <div  fxFlex="calc(25% - 10px)" fxFlex.xs="calc(100% - 10px)" fxFlex.sm="calc(50% - 10px)"
                                    fxFlex.md="calc(50% - 10px)" fxFlex.lg="calc(25% - 10px)" fxFlex.xl="calc(25% - 10px)" fxLayoutAlign="start center">
                                        <mat-form-field class="streach-h-100" >
                                            <mat-label>Country</mat-label>
                                            <mat-select  formControlName="country" (selectionChange)="onCountrySelected($event)">
                                                <mat-option  *ngFor="let country of countries" [value]="country.value">{{country.viewValue}}</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                </div>
                                <div  fxFlex="calc(25% - 10px)" fxFlex.xs="calc(100% - 10px)" fxFlex.sm="calc(50% - 10px)"
                                    fxFlex.md="calc(50% - 10px)" fxFlex.lg="calc(25% - 10px)" fxFlex.xl="calc(25% - 10px)" fxLayoutAlign="start center">
                                        <mat-form-field class="streach-h-100" >
                                            <mat-label>City</mat-label>
                                            <mat-select  formControlName="city" >
                                                <mat-option  *ngFor="let city of cities" [value]="city.value">{{city.viewValue}}</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                </div>
                                <div  fxFlex="calc(25% - 10px)" fxFlex.xs="calc(100% - 10px)" fxFlex.sm="calc(50% - 10px)"
                                    fxFlex.md="calc(50% - 10px)" fxFlex.lg="calc(25% - 10px)" fxFlex.xl="calc(25% - 10px)" fxLayoutAlign="start center">
                                    <mat-form-field class="streach-h-100"  >
                                        <mat-label>Phone</mat-label>
                                        <input formControlName="phone" type="text" placeholder="Phone Number" matInput >
                                        <mat-error *ngIf="merchantFormGroup.controls.phone.errors?.pattern">Please enter a valid Phone</mat-error>
                                    </mat-form-field>
                                </div>
                                <div  fxFlex="calc(50% - 10px)" fxFlex.xs="calc(100% - 10px)" fxFlex.sm="calc(50% - 10px)"
                                    fxFlex.md="calc(50% - 10px)" fxFlex.lg="calc(25% - 10px)" fxFlex.xl="calc(25% - 10px)" fxLayoutAlign="start center">
                                    <mat-form-field class="streach-h-100"  >
                                    <mat-label>Site URL</mat-label>
                                    <input formControlName="siteUrl" type="text" placeholder="Site URL" matInput >
                                    <mat-error *ngIf="merchantFormGroup.controls.siteUrl.errors?.pattern">Please enter a valid Site URL</mat-error>
                                    </mat-form-field>
                                </div>
                                <div  fxFlex="calc(25% - 10px)" fxFlex.xs="calc(100% - 10px)" fxFlex.sm="calc(50% - 10px)"
                                    fxFlex.md="calc(25% - 10px)" fxFlex.lg="calc(25% - 10px)" fxFlex.xl="calc(25% - 10px)" fxLayoutAlign="start center">
                                    <mat-form-field  class="w-100">
                                        <mat-label>Location</mat-label>
                                        <mat-select formControlName="location" required #location>
                                            <mat-option value="IN_STORE">In Store</mat-option>
                                            <mat-option value="ONLINE">On-line</mat-option>
                                            <mat-option value="ONLINE_STORE">On-line & Store</mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="!location.value">Location is required</mat-error>
                                    </mat-form-field>
                                </div>
                                <div  fxFlex="calc(25% - 10px)" fxFlex.xs="calc(100% - 10px)" fxFlex.sm="calc(50% - 10px)"
                                        fxFlex.md="calc(25% - 10px)" fxFlex.lg="calc(25% - 10px)" fxFlex.xl="calc(25% - 10px)"
                                        fxLayoutAlign="space-between  center">
                                    <mat-form-field class="streach-h-95" style="position:relative;bottom: 4px;">
                                        <input hidden=true matInput>
                                        <mat-checkbox color="primary"
                                                formControlName="status">
                                            Active
                                        </mat-checkbox>
                                    </mat-form-field>
                                </div>
                            </div>
                            <mat-divider class="mb--10"></mat-divider>
                            <div fxLayout fxLayoutWrap fxLayout="row wrap"  
                                fxLayoutAlign="start center" fxLayoutGap="5px" 
                                    formArrayName="socialLinks">
                                <div  fxFlex="calc(100% - 10px)" >
                                    <h5>Social Links</h5>
                                    <span fxFlex></span>
                                    <button mat-raised-button color="warn" type="button" class="mr--20"
                                            (click)="addSocialLink()">
                                            + Social Link
                                    </button>
                                </div>
                                <div  fxFlex="calc(100% - 10px)" *ngFor="let social of socialLinks.controls; let i = index" [formGroupName]="i">
                                    <div fxLayout fxLayoutWrap fxLayout="row wrap"  fxLayoutAlign="start center" fxLayoutGap="5px">
                                        <div fxFlex="calc(20% - 10px)" fxFlex.xs="calc(100% - 10px)" fxFlex.sm="calc(50% - 10px)"
                                            fxFlex.md="calc(20% - 10px)" fxFlex.lg="calc(20% - 10px)" fxFlex.xl="calc(20% - 10px)"
                                            fxLayoutAlign="space-between  center">
                                            <mat-form-field  class="w-100">
                                                <mat-label>Social Type</mat-label>
                                                <mat-select formControlName="type"  #socialType>
                                                    <mat-option *ngFor="let t of socialTypes" [value]="t.value">
                                                        <span>{{t.viewValue}}</span>
                                                    </mat-option>
                                                </mat-select>
                                                <mat-error *ngIf="!socialType.value">Type is required</mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div fxFlex="calc(50% - 10px)" fxFlex.xs="calc(100% - 10px)" fxFlex.sm="calc(50% - 10px)"
                                            fxFlex.md="calc(50% - 10px)" fxFlex.lg="calc(50% - 10px)" fxFlex.xl="calc(50% - 10px)"
                                            fxLayoutAlign="space-between  center">
                                            <mat-form-field  class="w-100">
                                                <mat-label>Url</mat-label>
                                                <input matInput formControlName="url">
                                                <mat-error *ngIf="social.get('url').errors?.pattern">Please enter a valid URL</mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div fxFlex="calc(20% - 10px)" fxFlex.xs="calc(100% - 10px)" fxFlex.sm="calc(50% - 10px)"
                                            fxFlex.md="calc(20% - 10px)" fxFlex.lg="calc(20% - 10px)" fxFlex.xl="calc(20% - 10px)"
                                            fxLayoutAlign="space-between  center">
                                            <mat-form-field  class="w-100">
                                                <mat-label>Status</mat-label>
                                                <mat-select formControlName="status"  >
                                                    <mat-option value="ACTIVE">Active</mat-option>
                                                    <mat-option value="IN_ACTIVE">Inactive</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                        <div fxFlex="calc(10% - 10px)" 
                                            fxLayoutAlign="space-between  center">
                                            <button mat-icon-button color="warn" type="button" class="mr--20"
                                                (click)="deleteSocialLink($event, i)" >
                                                <mat-icon>delete</mat-icon>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="!socialLinks.controls?.length">
                                    <mat-label color="danger">No Social Links Added</mat-label>
                                </div>
                            </div>
                            <mat-divider class="mb--10"></mat-divider>
                            <div fxLayout fxLayoutWrap fxLayout="row wrap"  
                                fxLayoutAlign="start center" fxLayoutGap="5px" >
                                <div  fxFlex="calc(100% - 10px)" >
                                    <h5>Upload Image</h5>
                                    <span fxFlex></span>
                                </div>
                                <div  fxFlex="calc(40% - 10px)" >
                                    <div class="text-center">
                                        <button mat-raised-button color="primary"
                                                (click)="pupload.click();">
                                                <mat-icon>attach_file</mat-icon>
                                                Choose File
                                        </button>
                                        <input id="singleFile" accept="image/jpg, image/jpeg, image/png" type="file" #pupload style="display: none;"
                                                [fileUploadInputFor]= "fileUploadQueue"/>
                                        
                                        <br>
                                        <mat-file-upload-queue #fileUploadQueue
                                                [showButtons]="false"
                                                [fileAlias]="'file'"
                                                [uploadAllLabel]="'Upload'"
                                                [removeAllLabel]="'Close'"
                                                [httpRequestHeaders]="headers"
                                                [httpUrl]="profileUploadUrl">
                                        <mat-file-upload (onUpload)="onUploadHandler($event)"
                                                        [file]="file" [id]="i"  [clearOnUpload]="true" [fileName]="'naari_deals'"
                                                        *ngFor="let file of fileUploadQueue.files; let i = index"></mat-file-upload>
                                        </mat-file-upload-queue>
                                    </div>
                                </div>
                                <div  fxFlex="calc(40% - 10px)" >
                                    <img [src]="merchantImage" style="height: 100px;" />
                                </div>
                                  <!-- https://naarideals.s3.amazonaws.com/merchant/ -->
                            </div>
                            <mat-divider class="mt--10"></mat-divider>
                            <div fxLayout="row" fxLayoutAlign="end center" class="w-100 mt--20"> 
                                <button mat-raised-button color="warn" type="button" class="mr--20"
                                    mat-dialog-close>
                                    Close
                                </button>
                                <button mat-raised-button color="primary" (click)="submitForm($event)" 
                                    [disabled]="!merchantFormGroup.valid">
                                    {{buttonTitle}}
                                </button>
                            </div> 
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>