.modal.left .modal-dialog {
  position: fixed;
  left: 0;
  margin: 0;
  height: 100%;
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;
}

.modal.left.show .modal-dialog {
  transform: translateX(0);
}

.modal.left .modal-content {
  height: 100%;
  border: none;
  border-radius: 0;
}
