// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
@use "./styles/_theme-colors.scss" as theme-colors;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.elevation-classes();
@include mat.app-background();

// Define the theme object.
$naari-theme: mat.define-theme((
    color: (
        theme-type: light,
        primary: theme-colors.$primary-palette,
        tertiary: theme-colors.$tertiary-palette,
    ),
    density: (
        scale: 0,
    )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
:root {
    @include mat.all-component-themes($naari-theme);
}

// Comment out the line below if you want to use the pre-defined typography utility classes.
// For more information: https://material.angular.io/guide/typography#using-typography-styles-in-your-application.
// @include mat.typography-hierarchy($naari-theme);

// Comment out the line below if you want to use the deprecated `color` inputs.
// @include mat.color-variants-backwards-compatibility($naari-theme);

/* You can add global styles to this file, and also import other style files */
:root {
    --fontFamily: "Poppins", sans-serif;
    --headingFontFamily: "Inter", sans-serif;
    --primaryColor: #E91E63;
    --primaryColor30: #B8005F;
    --dangerColor: #EE368C;
    --infoColor: #2DB6F5;
    --warningColor: #ffb264;
    --successColor: #2ed47e;
    --darkColor: #262626;
    --blackColor: #5b5b98;
    --whiteColor: #ffffff;
    --bodyColor: #5b5b6b;
    --transition: .5s;
    --fontSize: 14px;


      // Original Wif styles
    --fontFamily1: Poppins, sans-serif !important;
    --fontFamily2: 'Open Sans', sans-serif !important;
    --fontFamily3: 'Playfair Display', serif !important;
    --secondColor:  #007a53 ;// #b81f89; //#ff1949;
    --mainColor:  #E91E63 ;// #b81f89; //#ff1949;
    --mainColor2: #E30073;
    --mainColor4: #F89BB7;
    --mainColor5: #fdebe9; //#f9c9c266
    --mainColor3: #ff3d00;
    --secondaryColor: #3a6773;
    --secondaryColorLight: #20434d3f;
    --infoColor3: #1a6cca;
    --optionalColor: rgb(249, 107, 7);
    --whiteColor: #ffffff;
    --whiteTrnasparentColor: #ffffff8f;
    --darkThemeBackgroundColor: #303030;
    --blackColor: #231F40;
    --blackColor2: #383858;
    --blackColor3: #292b2cc4;
    --blackColor4: #484a4bea;
    --dashboardBackgroud: #fafbfd;
    --blackTransparentColor:#282835 !important;
    --paragraphColor:#101013; // #727695;
    --titleColor: #6c708d;
    --inputFiledIconColor: #a9a9c8;
    --grayButtonColor: #0000000f;
    --grayButtonTextColor: #524D4D;
    --grayTabButtonColor: #0000000f;
    --grayTabButtonTextColor: #524d4dd0;
    --grayTabButtonHoverColor: #f8f8f8;
    --cardBackgroundCOlor: #f5f5f5;
    --cardBorderColor: #a6a6a6;
    --darkGrayColor: #322f48;
    --logoTextFloatingColor: #FFD358;
    --templateColor2Opcacity05: #b81f8a88;
    --templateBgcolor: #282835;
    --transparentPrimaryColor: #0404048a;
    --fontSize: 14px;
    --transition: .5s;

    // --mdc-filled-text-field-label-text-size: 14px;
    // --mdc-filled-text-field-label-text-tracking: normal;
    // --mdc-filled-text-field-label-text-weight: 300;
    // --mdc-outlined-text-field-label-text-size: 14px;
    // --mdc-outlined-text-field-label-text-tracking: normal;
    // --mdc-outlined-text-field-label-text-weight: 300;

    // --mat-form-field-container-text-line-height: 24px;
    // --mat-form-field-container-text-size: 14px;
    // --mat-form-field-container-text-weight: 300;
    // --mat-form-field-outlined-label-text-populated-size: 14px;

    // --mat-form-field-container-height: 42px;
    // --mat-form-field-filled-label-display: block;
    // --mat-form-field-container-vertical-padding: 10px;
    // --mat-form-field-filled-with-label-container-padding-top: 4px;
    // --mat-form-field-filled-with-label-container-padding-bottom: 4px;

    // --mat-mdc-form-field-floating-label-scale: 0.85;
    // --mdc-icon-button-state-layer-size: 40px !important;

    // .mat-mdc-icon-button.mat-mdc-button-base {
    //     --mdc-icon-button-state-layer-size: 40px !important;
    //     width: var(--mdc-icon-button-state-layer-size);
    //     height: var(--mdc-icon-button-state-layer-size);
    //     // padding: 12px;
    // }

    // primeNg Colors    
    --primary-color: #f05b45;  /* Custom primary color */
    --primary-color-text: #ffffff;
    --primary-button-border-color: #f05b45; /* Custom border color */
    --secondary-color: #3a6773; /* Custom secondary color */
    --secondary-color-text: #ffffff;

    --border-radius: 8px; /* Custom border radius */

    --p-form-field-padding-y: 0.55rem !important
}

@import './styles/global_styles.scss';
@import './styles/auth';

// _Variable
@import "./variable";

// Utilities CSS
@import "./utilities";

*, ::after, ::before {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    letter-spacing: 0.15px;
    color: var(--darkColor);
    background-color: #f5f7fa;
    font: {
        weight: 400;
        size: var(--fontSize);
        family: var(--fontFamily);
    };
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6, .display-1, .display-2, .display-3, .display-4, .display-5, .display-6 {
    color: var(--darkColor);
    letter-spacing: 0.18px;
    margin: {
        top: 0;
        bottom: 15px;
    };
    font: {
        family: var(--headingFontFamily);
        weight: 600;
    };
    &:last-child {
        margin-bottom: 0;
    }
}
a {
    transition: var(--transition);
    color: var(--darkColor);
    text-decoration: none;
    outline: 0 !important;

    &:hover {
        text-decoration: none;
        color: var(--primaryColor);
    }
}
p {
    font-size: var(--fontSize);
    color: var(--bodyColor);
    line-height: 1.8;
    margin: {
        bottom: 15px;
        top: 0;
    };
    &:last-child {
        margin-bottom: 0;
    }
}
.d-table {
    width: 100%;
    height: 100%;

    &-cell {
        vertical-align: middle;
    }
}
img {
    max-width: 100%;
    height: auto;
}
.mb-25 {
    margin-bottom: 25px !important;
}
input {
    color: var(--blackColor);
    font: {
        weight: normal;
        size: var(--fontSize);
        family: var(--fontFamily);
    };
    &::placeholder {
        color: var(--bodyColor);
    }
}
:focus {
    outline: 0 !important;
}
.heading-font-family {
    font-family: var(--headingFontFamily) !important;
}

// Font Size
.fs-14 {
    font-size: 14px !important;
}
.fs-15 {
    font-size: 15px !important;
}
.fs-16 {
    font-size: 16px !important;
}

// UI Kit CSS
@import "./ui-kit";

// Dark CSS
@import "./dark";

/* Max width 767px */
@media only screen and (max-width : 767px) {

    body {
        font-size: 13px;
    }
    p {
        font-size: 13px;
    }
    .mb-25 {
        margin-bottom: 20px !important;
    }
    input {
        font-size: 13px;
    }

    // Font Size
    .fs-14 {
        font-size: 13px !important;
    }
    .fs-15 {
        font-size: 14px !important;
    }
    .fs-16 {
        font-size: 15px !important;
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}


//////////////////////////////////////

 /*section-title*/
  .naari-section-title {
    text-align: left !important;
    position: relative;
    margin-top: 16px;
    margin-bottom: 0px;
    .sub-title {
        text-transform: uppercase;
        display: block;
        color: var(--mainColor);
        font-weight: 500;
        margin-bottom: 5px;
        font-size: 13.5px;
        margin-bottom: 0px !important;
        text-align: left;
        position: absolute;
        top: -12px;
        letter-spacing: 0.2rem;
        font-weight: 600;
        width: 100% !important;
    }
    h2 {
        margin-bottom: 0px;
        font-size: 1.4rem;
        font-weight: 700;
    }
    p {
        max-width: 620px;
        line-height: 1.8;
        margin: {
            left: auto;
            right: auto;
        };
    }
    .default-btn {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
    }
    &.text-start {
        h2 {
            // width: 100%;
            margin-bottom: 0;
            text-align: center;
        }
        p {
            margin: {
                bottom: 0;
                left: 0;
                top: 15px;
                right: 0;
            };
        }
    }
  }

.nav-tabset {
    padding-left: 0;
    list-style-type: none;
    margin: {
        top: 25px;
        bottom: 15px;
    };
    .nav-tab {
        display: inline-block;
        margin-right: 20px;
        padding: 5px;
        span {
            transition: var(--transition);
            background-color: transparent;
            color: #727695;
            font-weight: 500;
            cursor: pointer;
            display: block;
            border: none;
            padding: 0;
    
            &:hover {
                color: var(--mainColor);
            }
        }
        &.active {
            span {
                color: var(--mainColor);
            }
        }
    }
}

.default-btn {
    position: relative;
    display: inline-block;
    color: var(--whiteColor);
    padding: 13px 25px 12px 55px;
    transition: var(--transition);
    background-color: var(--mainColor);
    cursor: pointer;
    border: {
        width: 2px;
        radius: 1px;
        style: solid;
        color: var(--mainColor);
    };
    font: {
        size: 14.5px;
        weight: 700;
    };
    .label, .icon-arrow {
        backface-visibility: hidden;
        transform: translateZ(0);
        perspective: 1000;
    }
    .label {
        display: inline-block;
        transition: transform .5s cubic-bezier(0.86, 0, 0.07, 1);
    }
    .icon-arrow {
        color: var(--whiteColor);
        top: 11px;
        transition: transform .5s cubic-bezier(0.86, 0, 0.07, 1), opacity .4s cubic-bezier(0.86, 0, 0.07, 1);
        font-size: 25px;
    }
    .icon-arrow {
        &.before {
            left: 20px;
            position: absolute;
            transform-origin: left center;
        }
        &.after {
            opacity: 0;
            right: 20px;
            position: absolute;
            transform: translateX(75%) scaleX(0.1);
            transform-origin: right center;
        }
    }
    &:hover, &:focus {
        background-color: var(--secondColor);
        border-color: var(--secondColor);
        color: var(--whiteColor);

        .label {
            transform: translateX(-32px);
        }
        .icon-arrow {
            &.before {
                opacity: 0;
                transform: translateX(-75%) scaleX(0.1);
            }
            &.after {
                opacity: 1;
                transform: translateX(0) scaleX(1);
            }
        }
    }
}


.p-0{
    padding: 0px;
}
.p-10{
    padding: 10px !important;
}
.ptb-100 {
    padding: {
        top: 100px;
        bottom: 100px;
    };
}
.pt-100 {
    padding-top: 100px;
}
.pb-100 {
    padding-bottom: 100px;
}
.ptb-70 {
    padding: {
        top: 70px;
        bottom: 70px;
    };
}
.pt-70 {
    padding-top: 70px;
}
.pt-50 {
    padding-top: 50px;
}
.pb-70 {
    padding-bottom: 70px;
}

.mb-3 {
    margin-bottom: 24px;
}

.mb-30 {
    margin-bottom: 30px;
}
.mt-20 {
    margin-top: 20px;
}
.mt-30 {
    margin-top: 30px;
}
.mt-50 {
    margin-top: 50px;
}
.mt-70 {
    margin-top: 70px;
}
.mt-100 {
    margin-top: 100px;
}

.text-4xl{
    font-size: 4rem;
}

.text-3xl{
    font-size: 3rem;
}

.bg-f5faf8 {
    background-color: #f5faf8;
}
.bg-f8fafb {
    background-color: #f8fafb;
}
.bg-f9f9f9 {
    background-color: #f9f9f9;
}
.bg-e4feff {
    background-color: #e4feff;
}
.bg-f8e8e9 {
    background-color: #f8e8e9;
}
.bg-F7F9FB {
    background-color: #F7F9FB;
}
.bg-e6fbff {
    background-color: #e6fbff;
}

.scrolltop-button {
    right: 30px !important;
    z-index: 99 !important;
    width: 45px !important;
    height: 45px !important;
    bottom: 30px !important;
    display: block !important;
    transition: var(--transition) !important;
    background-color: var(--whiteColor) !important;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px !important;

    .symbol-container {
        color: var(--blackColor) !important;
        transition: var(--transition);
        position: relative;

        &::before {
            left: 0;
            right: 0;
            top: 50%;
            line-height: 1;
            content: "\ea57";
            position: absolute;
            color: var(--blackColor);
            transform: translateY(-50%);
            transition: var(--transition);
            font: {
                size: 30px;
                family: boxicons;
            };
        }
    }
    svg {
        display: none !important;
    }
    &:hover {
        background-color: var(--mainColor) !important;

        .symbol-container {
            color: var(--whiteColor) !important;

            &::before {
                color: var(--whiteColor);
            }
        }
    }
}


  /* Custom scrollbar styles for Chrome, Edge, Safari */
  ::-webkit-scrollbar {
    width: 10px !important;  /* Scrollbar width */
    background-color: #d1d4d6 !important; /* Scrollbar thumb color */
    border-radius: 6px !important; 
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #d1d4d6 !important; /* Scrollbar thumb color */
    // border-radius: 6px !important;        /* Rounded scrollbar thumb */
  }
  
  ::-webkit-scrollbar-thumb:hover {
    // background-color: #0056b3 !important; /* Hover effect on thumb */
  }
  
  ::-webkit-scrollbar-track {
    background-color: #ffffff !important; /* Scrollbar track background */
    border-radius: 6px !important;
  }



  .page-title-content {
    ul {
        padding-left: 0;
        margin-bottom: 0px;
        list-style-type: none;

        li {
            display: inline-block;
            margin-right: 30px;
            position: relative;
            color: var(--blackColor);

            a {
                display: inline-block;
                color: var(--blackColor);
                opacity: .85;

                &:hover, &:focus {
                    color: var(--mainColor);
                    opacity: 1;
                }
            }
            &::before {
                content: "\ea50";
                color: var(--blackColor);
                position: absolute;
                right: -25px;
                top: -4px;
                opacity: .85;
                font: {
                    family: 'boxicons'!important;
                    weight: normal;
                    style: normal;
                    variant: normal;
                    size: 20px;
                };
            }
            &:last-child {
                margin-right: 0;

                &::before {
                    display: none;
                }
            }
        }
    }
    h2 {
        color: var(--blackColor);
        margin-bottom: 0;
        font: {
            size: 42px;
            weight: 700;
        };
    }
}


  .details-page-title-content {
    ul {
        padding-left: 0;
        margin-bottom: 0px;
        list-style-type: none;

        li {
            display: inline-block;
            margin-right: 30px;
            position: relative;
            color: var(--blackColor);

            span {
                display: inline-block;
                color: var(--blackColor);
                opacity: .85;
                cursor: pointer;
                &:hover, &:focus {  
                    color: var(--mainColor);
                    opacity: 1;
                }
            }
            &::before {
                content: "\ea50";
                color: var(--blackColor);
                position: absolute;
                right: -25px;
                top: -4px;
                opacity: .85;
                font: {
                    family: 'boxicons'!important;
                    weight: normal;
                    style: normal;
                    variant: normal;
                    size: 20px;
                };
            }
            &:last-child {
                margin-right: 0;

                &::before {
                    display: none;
                }
            }
        }
    }
    h2 {
        color: var(--blackColor);
        margin-bottom: 0;
        font: {
            size: 42px;
            weight: 700;
        };
    }
}


// Page Title CSS
.page-title-area {
   position: relative;
    z-index: 1;
    height: 20vh;
    background-color: var(--mainColor);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 170px;
    padding-bottom: 85px;
    background: {
        color: var(--mainColor);
        position: center center;
        size: cover;
        repeat: no-repeat;
    };
 
    &.page-title-style-two {
        padding: {
            top: 280px;
            bottom: 120px;
        };
    }
    &.page-title-style-three {
        padding: {
            top: 180px;
            bottom: 140px;
        };
    }
    &.item-bg1 {
        background: {
            image: url(assets/images/background/bg1.jpg);
        };
    }
    &.item-bg2 {
        background: {
            image: url(assets/img/page-title/page-title2.jpg);
        };
    }
    &.item-bg3 {
        background: {
            image: url(assets/images/deal/deal-banner.jpg);
        };
    }
    &.item-bg4 {
        background: {
            image: url(assets/img/page-title/page-title4.jpg);
        };
    }
}
.page-title-content {
    ul {
        padding-left: 0;
        margin-bottom: 12px;
        list-style-type: none;

        li {
            display: inline-block;
            margin-right: 30px;
            position: relative;
            color: var(--whiteColor);

            a {
                display: inline-block;
                color: var(--whiteColor);
                opacity: .85;

                &:hover, &:focus {
                    color: var(--mainColor);
                    opacity: 1;
                }
            }
            &::before {
                content: "\ea50";
                color: var(--whiteColor);
                position: absolute;
                right: -25px;
                top: -4px;
                opacity: .85;
                font: {
                    family: 'boxicons'!important;
                    weight: normal;
                    style: normal;
                    variant: normal;
                    size: 20px;
                };
            }
            &:last-child {
                margin-right: 0;

                &::before {
                    display: none;
                }
            }
        }
    }
    h2 {
        color: var(--whiteColor);
        margin-bottom: 0;
        font: {
            size: 1.3rem;
            weight: 700;
        };
    }
}

