<header
     class="header-area" [class.header-color-white]="!color"
    class="header-area" [class.header-color-black]="color"
    [class.dark-header-area]="themeService.isDark()">
    <div class="top-header animate__animated animate__fadeInDown" [class.top-header-style-four]="!color" [class.top-header-style-four-black]="color">
        <div class="container">
            <div class="row wrap align-items-center">
                <div class="col-5 col-lg-6 col-md-6 col-xs-4 col-sm-6  animate__animated animate__fadeInDown animate__delay-0_75s">
                    <div class="top-header-social" >
                        <span >Follow Us:</span>
                        <a href="#" target="_blank"><i class='bx bxl-facebook ml--40'></i></a>
                        <a href="#" target="_blank"><i class='bx bxl-instagram ml--40'></i></a>
                    </div>
                </div>
                <div class="col-7 col-lg-6 col-md-6 col-xs-8 col-sm-6  animate__animated animate__fadeInDown animate__delay-0_75s">
                    <ul class="top-header-login-register" > 
                        <li  *ngIf="!isLoggedIn()"><a routerLink="/sign-in" style="cursor: pointer;"><i class='bx bx-log-in'></i> <span >SignIn</span></a></li>
                        <li *ngIf="isLoggedIn()"><a  (click)="logout($event)" style="cursor: pointer;" ><i class='bx bx-log-out'></i> <span >Signout</span></a></li>
                        <li *ngIf="!isLoggedIn()"><a routerLink="/register" style="cursor: pointer;"><i class='bx bx-log-in-circle'></i><span >Register</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div
        class="navbar-area navbar-style-three"
        [ngClass]="{'sticky': isSticky}">
    <div class="sticky-nav-bar-mask"></div>
        <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light px-3" [class.active]="classApplied">
  <!-- Logo - Left Aligned -->
  <a class="navbar-brand animate__animated animate__fadeInDown animate__delay-1s me-auto" routerLink="/" *ngIf="!color">
    <img [src]="isSticky ? 'assets/img/logo.png' : 'assets/img/logo-w.png'" alt="logo">
  </a>
  <a class="navbar-brand animate__animated animate__fadeInDown animate__delay-1s me-auto" routerLink="/" *ngIf="color">
    <img [src]="isSticky ? 'assets/img/logo.png' : 'assets/img/logo.png'" alt="logo">
  </a>

  <!-- Right Section -->
  <div class="d-flex align-items-center ms-auto">
    <!-- Burger Button for Side Menu -->
    <button class="navbar-toggler animate__animated animate__fadeInDown animate__delay-1_25s" type="button" (click)="toggleClass()">
      <span class="burger-menu">
        <span class="top-bar"></span>
        <span class="middle-bar"></span>
        <span class="bottom-bar"></span>
      </span>
    </button>

    <!-- Side Menu Button (Mobile) -->
    <div class="side-menu d-block d-lg-none animate__animated animate__fadeInDown animate__delay-1s ms-2"
      [class.navbar-side-menu-button]="!color"
      [class.navbar-side-menu-button-black]="color"
      data-bs-toggle="modal" data-bs-target="#myModal2">
      <span class="bar-1"></span>
      <span class="bar-2"></span>
      <span class="bar-3"></span>
    </div>
  </div>

  <!-- Navigation Menu -->
  <div class="collapse navbar-collapse ms-auto" id="navbarSupportedContent">
    <ul class="navbar-nav ms-auto">
      <li class="nav-item"
        *ngFor="let menuItem of menuList; let i = index;">
        <a href="javascript:void(0)" [class.a-no-sticky]="!isSticky" [class.a-sticky]="isSticky" class="nav-link">
          {{menuItem.parent}}<i class='bx bx-chevron-down'></i>
        </a>
        <ul class="dropdown-menu">
          <li class="nav-item" *ngFor="let sMenuItem of menuItem.categories; let j = index;">
            <a [routerLink]="['/deals']"
              [queryParams]="{ type: 'All', category: sMenuItem.code }"
              class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
              <span>{{sMenuItem.title}}</span><span style="float: right;">{{sMenuItem.subTitle}}</span>
            </a>
          </li>
        </ul>
      </li>
    </ul>

    <!-- Side Menu Button (Desktop) -->
    <div class="side-menu ms-3 d-none d-lg-block"
      [class.navbar-side-menu-button]="!color"
      [class.navbar-side-menu-button-gray]="color"
      data-bs-toggle="modal" data-bs-target="#myModal2">
      <span class="bar-1"></span>
      <span class="bar-2"></span>
      <span class="bar-3"></span>
    </div>
  </div>
</nav>

        </div>
    </div>

</header>
<app-saas-sidebar></app-saas-sidebar>
<!-- Search Overlay -->
<div
    class="search-overlay"
    [class.active]="classApplied3"
    [class.dark-search-overlay]="themeService.isDark()"
>
    <div class="d-table">
        <div class="d-table-cell">
            <div class="search-overlay-layer"></div>
            <div class="search-overlay-layer"></div>
            <div class="search-overlay-layer"></div>
            <div class="search-overlay-close" (click)="toggleClass3()">
                <span class="search-overlay-close-line"></span>
                <span class="search-overlay-close-line"></span>
            </div>
            <div class="search-overlay-form">
                <form>
                    <input type="text" class="input-search" placeholder="Search here...">
                    <button type="submit"><i class='bx bx-search-alt'></i></button>
                </form>
            </div>
        </div>
    </div>
</div>