<div
    class="login-area"
    [class.dark-login-area]="themeService.isDark()"
>
    <div class="row m-0">
        <div class="col-lg-6 col-md-12 p-0">
            <div [class.login-image]="!isMobile" [class.mobile-login-image]="isMobile">
                <img src="assets/images/background/login.jpg" alt="image">
            </div>
        </div>
        <div class="col-lg-6 col-md-12 p-0">
            <div class="login-content">
                <div class="d-table">
                    <div class="d-table-cell">
                        <div class="login-form">
                            <div
                                class="logo"
                                [class.d-none]="themeService.isDark()"
                            >
                                <a routerLink="/">
                                    <img src="assets/img/black-logo.png" alt="image">
                                </a>
                            </div>
                            <div
                                class="logo d-none"
                                [class.d-block]="themeService.isDark()"
                            >
                                <a routerLink="/">
                                    <img src="assets/img/logo.png" alt="image">
                                </a>
                            </div>
                            <div>
                                <h3>Update Password</h3>
                                <p>Please Try New Password!</p>
                            </div>
                            <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPasswordSubmit($event)">
                              
                                <div class="form-group">
                                    <input type="password" placeholder="New Password"   formControlName="password1"
                                    class="form-control"  [ngClass]="{ 'is-invalid': resetPasswordFormSubmitted && fpwf['password1'].errors }">
                                    @if (resetPasswordFormSubmitted && fpwf['password1'].errors) {
                                        <div class="invalid-feedback">
                                          @if (fpwf['password1'].errors['required']) {
                                          <div>Password is required</div>
                                          } @if (fpwf['password1'].errors['minlength']) {
                                          <div>Password must be at least 6 characters</div>
                                          } @if (fpwf['password1'].errors['maxlength']) {
                                          <div>Username must not exceed 40 characters</div>
                                          }
                                        </div>
                                        }
                                </div>
                                <div class="form-group">
                                    <input
                                      type="password"
                                      placeholder="Confirm Password" 
                                      formControlName="password2"
                                      class="form-control"
                                      [ngClass]="{ 'is-invalid': resetPasswordFormSubmitted && fpwf['password2'].errors }"
                                    />
                                    @if (resetPasswordFormSubmitted && fpwf['password2'].errors) {
                                    <div class="invalid-feedback">
                                      @if (fpwf['password2'].errors['required']) {
                                      <div>Confirm Password is required</div>
                                      } @if (fpwf['password2'].errors['matching']) {
                                      <div>Confirm Password does not match</div>
                                      }
                                    </div>
                                    }
                                  </div>
                                  <button type="submit">Update password</button>
                                  <div class="d-flex justify-content-between forgot-password">
                                      <a routerLink="/"><i class="icofont-home"></i> Back Home</a>
                                      <a class="naari-link-btn" routerLink="/login"><i class="icofont-edit link-icon"></i>Login Now?</a>
                                  </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>