<footer class="footer-area">
    <!-- <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-6 col-sm-6">
                <div class="single-footer-widget mb-30">
                    <ul class="contact-us-link text-center">
                        <li>
                            <div class="logo text-start" data-wow-offset="10" data-wow-duration="1s" *ngIf="(isDesktop || isTablet) && browser">
                                <a routerLink="/" class="d-inline-block"><img style="max-width: 75%;" src="assets/img/black-logo2.png" alt="image"></a>
                            </div>
                            <div class="logo  text-startcenter" data-wow-offset="10" data-wow-duration="1s" *ngIf="isMobile && browser">
                                <a routerLink="/" class="d-inline-block"><img style="max-width: 75%;" src="assets/img/black-logo2.png" alt="image"></a>
                            </div>
                        </li>
                        <li class="text-start">
                            <span class="text-start  footer-about-us"   data-wow-offset="10" data-wow-duration="1s">
                               Naarideals.com — Curated Deals for the Modern Woman. <br>
                                Discover exclusive savings on fashion, beauty, wellness, and more. <br>
                                Smart shopping starts here. <br>
                                Empowering women to shop confidently and shine daily. <br>
                                Enjoy handpicked collections designed with you in mind. <br>
                                New deals drop every day — don't miss out!
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-footer-widget mb-3">
                    <h3>Contact Us</h3>
                    <ul class="contact-us-link">
                        <li>
                            <i class='bx bx-map'></i>
                            <a href="#" target="_blank">1015 Addison ln, Johnscreek, GA 30005</a>
                        </li>
                        <li>
                            <i class='bx bx-phone-call'></i>
                            <a href="tel:+11234567890">+1 (470) 301 7675</a>
                        </li>
                        <li>
                            <i class='bx bx-envelope'></i>
                            <a href="mailto:hello&#64;ednuv.com">support&#64;naarideals.com</a>
                        </li>
                    </ul>
                    <ul class="social-link">
                        <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-facebook'></i></a></li>
                        <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-twitter'></i></a></li>
                        <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-instagram'></i></a></li>
                        <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-linkedin'></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="single-footer-widget mb-3">
                    <h3>Support</h3>
                    <ul class="support-link">
                        <li><a routerLink="/privacy">Privacy</a></li>
                        <li><a routerLink="/terms">Terms</a></li>
                        <li><a routerLink="/contact-us">Contact Us</a></li>
                        <li><a routerLink="/faq">FAQ's</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-footer-widget mb-3">
                    <h3>Newsletter</h3>
                    <div class="newsletter-box">
                        <p>To get the latest news and latest updates from us.</p>
                        <form class="newsletter-form">
                            <label>Your e-mail address:</label>
                            <input type="email" class="input-newsletter" placeholder="Enter your email" name="EMAIL">
                            <button type="submit">Subscribe</button>
                        </form>
                    </div>
                </div>
            </div> 
        </div>
    </div> -->
    <div class="footer-bottom-area">
         <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <!-- <div class="single-footer-widget mb-3 d-flex flex-column justify-content-between" style="height: 225px;">
                    
                    <ul class="social-link mt-auto mb-0">
                    <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-facebook'></i></a></li>
                    <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-twitter'></i></a></li>
                    <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-instagram'></i></a></li>
                    <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-linkedin'></i></a></li>
                    </ul>
                </div> -->
            </div>
             <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="container">
                    <div class="logo">
                        <a routerLink="/" class="d-inline-block"><img src="assets/img/logo.png" alt="image"></a>
                    </div>
                    <p>
                       <i class='bx bxl-facebook social-link-footer  ' data-wow-offset="10" data-wow-duration="2s"></i>
                       <!-- <i class='bx bxl-twitter social-link-footer  ' data-wow-offset="10" data-wow-duration="2s"></i> -->
                       <i class='bx bxl-instagram social-link-footer  ' data-wow-offset="20" data-wow-duration="2s"></i>
                       <!-- <i class='bx bxl-linkedin social-link-footer2  ' data-wow-offset="20" data-wow-duration="2s"></i> -->
                        <span class="content-separator"> | </span>  <i class='bx bx-copyright '  data-wow-offset="10" data-wow-duration="2s"></i>2025 <a routerLink="/" target="_blank">Naari Deals</a><span class="content-separator"> | </span> All rights reserved.
                        <span class="content-separator"> | </span> 
                        <a routerLink="/privacy"  class="social-link-footer1">Privacy</a>
                        <a routerLink="/terms"  class="social-link-footer1">Terms</a>
                    </p>
                   
                     
                </div>
             </div>
             <div class="col-lg-3 col-md-6 col-sm-6">
                <!-- <div class="single-footer-widget mb-3">
                    <h3>Support</h3>
                    <ul class="support-link">
                        <li><a routerLink="/privacy">Privacy</a></li>
                        <li><a routerLink="/terms">Terms</a></li>
                        <li><a routerLink="/contact-us">Contact Us</a></li>
                        <li><a routerLink="/faq">FAQ's</a></li>
                    </ul>
                </div> -->
           </div>
        </div>
    </div>
</footer>

<ngx-scrolltop></ngx-scrolltop>