:host::ng-deep .mat-mdc-card.naari-card .mat-mdc-card-content .mat-mdc-form-field .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: #ffffff4a;
    border: 1px solid white !important;
}

:host::ng-deep .mat-mdc-card.naari-card .mat-mdc-card-content .NgxEditor__Wrapper .NgxEditor {
    background-color: #ffffff4f;
    border: 1px solid white !important;
    border-radius: 6px;
    min-height: 250px;
}

:host::ng-deep .mat-mdc-card.naari-card .mat-mdc-card-content .file-uploader {
    outline: 0;
    min-height: 180px;
    border-radius: 5px;
    border: 1px solid #fff;
    background-color: #ffffff63;
}

.naari-card {
    &.add-product-card {
        max-width: 850px;
        margin: {
            left: auto;
            right: auto;
        };
        position: relative;
    // background: linear-gradient(135deg, rgba(255, 255, 255, 0.12), rgba(255, 255, 255, 0.05));
    // border: 1px solid rgba(255, 255, 255, 0.6);
    //     border-radius: 24px;
    // backdrop-filter: blur(24px);
    // box-shadow: 0 25px 70px rgba(15, 23, 42, 0.12);
    //     overflow: hidden;
    max-width: 850px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
   background: rgb(245 224 245 / 40%) !important;
    border: 1px solid white !important;
    border-radius: 24px;
    -webkit-backdrop-filter: blur(24px);
    backdrop-filter: blur(24px);
    box-shadow: 0 25px 70px rgba(15, 23, 42, 0.12);
    overflow: hidden;
        &::before,
        &::after {
            content: '';
            position: absolute;
            inset: 0;
            border-radius: inherit;
            pointer-events: none;
        }

        &::before {
            background: linear-gradient(120deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0));
            opacity: 0.28;
            transform: translateY(-20%);
        }

        &::after {
            inset: 1px;
            border-radius: inherit;
            border: 1px solid rgba(255, 255, 255, 0.2);
            box-shadow: inset 0 0 25px rgba(255, 255, 255, 0.08);
        }

        mat-card-header,
        mat-card-content {
            background-color: transparent;
            position: relative;
            z-index: 1;
        }

        mat-card-content {
            padding: 34px;
        }
    }
}
::ng-deep {
    .naari-card {
        &.add-product-card {
            .create-product-btn {
                text-align: end;
                margin-top: 25px;

                .mat-mdc-button {
                    height: auto;
                    min-width: auto;
                    border-radius: 6px;
                    padding: 18px 25px;
                    letter-spacing: 0.16px;
                    color: var(--whiteColor);
                    background-color: var(--primaryColor);
                    font: {
                        size: 16px;
                        weight: 600;
                        family: var(--headingFontFamily);
                    };
                }
            }
        }
    }
}

.add-deal-field-icon{
    color: var(--inputFiledIconColor);
  }

 .add-deal-close-icon{
    position: absolute;
    top: 15px;
    right: 15px;
    &:hover{
        color: orangered;
        cursor: pointer;
    }
 }

 .stagger-field {
  transition: all 0.3s ease-in-out;
  margin-bottom: 1rem;
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .naari-card {
        &.add-product-card {
            max-width: 100%;
        }
    }
    ::ng-deep {
        .naari-card {
            &.add-product-card {
                .create-product-btn {
                    .mat-mdc-button {
                        padding: 15px 25px;
                        font-size: 14px;
                    }
                }
            }
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    .naari-card {
        &.add-product-card {
            max-width: 100%;
        }
    }
    ::ng-deep {
        .naari-card {
            &.add-product-card {
                .create-product-btn {
                    .mat-mdc-button {
                        padding: 15px 25px;
                        font-size: 15px;
                    }
                }
            }
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {

    .naari-card {
        &.add-product-card {
            max-width: 100%;
        }
    }

}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {

    .naari-card {
        &.add-product-card {
            max-width: 100%;
        }
    }

}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {

    .naari-card {
        &.add-product-card {
            max-width: 1064px;
        }
    }

}